[submodule "faber"]
	path = faber
	url = https://github.com/RedstoneWizard08/faber
[submodule "forgic"]
	path = forgic
	url = https://github.com/RedstoneWizard08/forgic
[submodule "libic"]
	path = libic
	url = https://github.com/RedstoneWizard08/libic
[submodule "ludic"]
	path = ludic
	url = https://github.com/RedstoneWizard08/ludic
[submodule "quantum"]
	path = quantum
	url = https://github.com/RedstoneWizard08/quantum
[submodule "vanel"]
	path = vanel
	url = https://github.com/RedstoneWizard08/vanel
